<div class="content row">
  <%= form_for @graph_config, :url => path, method: 'GET', remote: true do |f| %>
    <div class="col-xs-3" style="padding-right: 5px;">
      <%= f.text_field :start_date, :value => form_date(@graph_config.start_date), class: "datepicker form-control", required: true %>
    </div>
    <div class="col-xs-3"  style="padding-right: 5px;">
      <%= f.text_field :end_date, :value => form_date(@graph_config.end_date), class: "datepicker form-control", required: true %>
    </div>
    <div class="col-xs-3"  style="padding-right: 5px;">
      <%= f.select :unit, options_for_select([ "month", "week", "day" ], {selected: @graph_config.unit} ), {}, {class: "form-control" } %>
    </div>
      <%= hidden_field_tag :graph_change, "yes" %>
    <div class="col-xs-3 text-right">
      <%= f.submit "update view", class: "btn btn-warning btn-block" %>
    </div>
  <% end %>
</div>

<div style="color: red" class="row" id="graph_error_explanation">
  <div class="col-xs-3" style="padding-right: 5px;">
    <%= @graph_config.errors.details[:start_date][0][:error] if @graph_config.errors.details[:start_date][0] %>
  </div>
  <div class="col-xs-3"  style="padding-right: 5px;"></div>
    <%= @graph_config.errors.details[:unit][0][:error] if @graph_config.errors.details[:unit][0] %>
  <div class="col-xs-3"  style="padding-right: 5px;">
  </div>
</div>
</br>
