<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sort_baskets_by("sort_date", @graph_config, "Date") %></th>
      <th><%= sort_baskets_by("sort_items", @graph_config, "# of Items") %></th>
      <th><%= sort_baskets_by("sort_total", @graph_config, "Total") %></th>
    </tr>
  </thead>
  <tbody>

    <% baskets.each do |basket| %>
      <tr>
        <td> <%= link_to format_date(basket.transaction_date), basket_path(basket) %> </td>
        <td> <%= basket.quantity %> </td>
        <td> <%= number_to_currency(basket.total) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
