<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sort_baskets_by("date", unit, duration, "Date") %></th>
      <th><%= sort_baskets_by("items", unit, duration, "# of Items") %></th>
      <th><%= sort_baskets_by("total", unit, duration, "Total") %></th>
    </tr>
  </thead>
  <tbody>

    <% baskets.each do |basket| %>
      <tr>
        <td> <%= link_to format_date(basket.date), basket_path(basket) %> </td>
        <td> <%= basket.quantity %> </td>
        <td> <%= number_to_currency(basket.total) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate baskets, params: {graph_change: 'no'}, remote: true %>
</div>
