<div class="form-inline">
  <%= form_for @graph_form, :url => baskets_path, method: 'GET', remote: true do |f| %>
    <%= f.text_field :start_date, :value => form_date(@graph_form.start_date), class: "datepicker form-control mb-2 mr-sm-2 mb-sm-0" %>
    <%= f.text_field :end_date, :value => form_date(@graph_form.end_date), class: "datepicker form-control mb-2 mr-sm-2 mb-sm-0" %>
    <%= f.select :unit, options_for_select([ "months", "weeks", "days" ], "months"), {}, {:class => "form-control mb-2 mr-sm-2 mb-sm-0" } %>
    <%= hidden_field_tag :graph_change, "yes" %>
    <%= f.submit "update view", class: "btn btn-primary btn-md" %>
  <% end %>
</div>
