<% if current_user && !@baskets.empty? %>

  </br></br>
  <div id="outerchart">
    <div id="danielchart" data-param1= "<%= current_user.baskets.group_baskets(@graph_config).to_json %>" data-param2="<%= @graph_config.unit %>"></div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="list-item">
        <h3 style="font-size: 19px; padding-left: 4px" id="index-title">Spending for the last two years</h3>
      </div>
    </div>

    <div class="col-md-8">
      <div class="list-item text-right" style="padding-top: 13px">
        <%= render partial: 'shared_partials/graph_control', locals: {path: baskets_path} %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <div class="list-item text-right">
        <label style="color: red" id="graph_error_explanation"></label>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div id="baskets_table" class="panel-body">
      <%= render partial: 'baskets', locals: { baskets: @baskets, spending_state: @spending_state } %>
    </div>
    <div class="text-center" id="paginator">
      <%= paginate @baskets, theme: 'twitter-bootstrap-3', params: {start: @graph_config.start_date, end: @graph_config.end_date, unit: @graph_config.unit}, remote: true %>
    </div>
  </div>

<% elsif current_user && @baskets.empty?%>
  <div class='alert alert-danger'>
    You currently have no purchase history in the database.
    Click below to import receipts, or if you just imported your receipts and are still seeing this, try refreshing the page.
  </div>
    <%= link_to "Import Receipts", import_path_url, class: "btn btn-primary btn-block", data: { confirm: 'You will now be directed to your gmail to import your receipts.' } %>

<% end %>
