$('#graph_error_explanation').html("")
var graph_change = '<%= params[:graph_change].to_s %>'
var graph_valid = '<%= @graph_config.valid?.to_s %>'

if (graph_change === 'yes' && graph_valid == 'true' ) {
  $("#index-title").html("Spending: <%= DateTime.parse(@graph_config.start_date).localtime.strftime("%b %d, %Y") %> to <%= DateTime.parse(@graph_config.end_date).localtime.strftime("%b %d, %Y") %>")
  $("#chart").html("<%= escape_javascript(basket_spending(@graph_config)) %>")
  $('#baskets_table').html("<%= escape_javascript render partial: 'baskets', locals: { baskets: @baskets } %>");
}
else if (graph_change === 'yes' && graph_valid == 'false') {
  $('#graph_error_explanation').append("<ul> <% @graph_config.errors.full_messages.each do |message| %> <p> <%= message %> </p> <% end %> </ul>")
}
else {
  $('#baskets_table').html("<%= escape_javascript render partial: 'baskets', locals: { baskets: @baskets } %>");
  $('#paginator').html('<%= escape_javascript(paginate(@baskets, :remote => true).to_s) %>');
};
