<% if current_user && !@baskets.empty? %>
  <p> <%= current_user.name %>'s purchase history: </p>
  <table id="basketsTable" class="tablesorter table">
    <thead>
      <tr class="fake-link">
        <th>Date</th>
        <th>Number of Items Purchased</th>
        <th>Purchase Total</th>
      </tr>
    </thead>
    <tbody>
      <% @baskets.each do |basket| %>
        <tr>
          <td> <%= link_to basket.date.localtime.strftime('%A, %d %b %Y %l:%M %p'), basket_path(basket) %> </td>
          <td> <%= basket.line_items.count %> </td>
          <td> <%= number_to_currency(basket.total) %> </td>
        </tr>
      <% end %>
    </tbody>
    </table>
<% else current_user && @baskets.empty?%>
  <p> You currently have no purchase history loaded. You can do that <%= link_to "here", new_basket_path %></p>
<% end %>
