<% if current_user && !@baskets.empty? %>

  <%= line_chart current_user.baskets.group_by_month(:date, last: 12, current: false).sum('baskets.total_cents / 100'),
    title: 'Monthly Spending For Last 12 Months',
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
  %>

  <%= line_chart current_user.baskets.group_by_week(:date, last: 24, current: false).sum('baskets.total_cents / 100'),
    title: 'Weekly Spending For Last 24 weeks',
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '',
            valuePrefix: '$'
          }
        }
  %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h5><%= current_user.name %>'s purchase history</h5>
    </div>

    <div id="baskets_table" class="panel-body">
      <%= render partial: 'baskets', locals: { baskets: @baskets } %>
    </div>
  </div>

<% elsif current_user && @baskets.empty?%>
  <p> You currently have no purchase history loaded. You can do that <%= link_to "here", new_basket_path %></p>
<% end %>
