<% if current_user && !@baskets.empty? %>

  </br></br>
  <div id="chart">
    <%= basket_spending(@graph_form) %>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="list-item">
        <h3 style="font-size: 19px; padding-left: 4px" id="index-title">Spending for the last 6 months</h3>
      </div>
    </div>

    <div class="col-md-8">
      <div class="list-item text-right" style="padding-top: 13px">
        <%= render partial: 'graph_control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <div class="list-item text-right">
        <label style="color: red" id="graph_error_explanation"></label>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h5 class="text-center" id="stat">
        <%= freq_formatter(@unpaginated_unsorted_baskets.average_time_between_trips) %>
        <%= avg_formatter(number_to_currency(@unpaginated_unsorted_baskets.average_total)) %>
      </h5>
    </div>
    <div id="baskets_table" class="panel-body">
      <%= render partial: 'baskets', locals: { baskets: @baskets } %>
    </div>
  </div>

<% elsif current_user && @baskets.empty?%>
    <h4 class="text-center">
      You currently have no purchase history in the database.
      If you just imported your receipts, try refreshing the page.
    </h4>
<% end %>
