</br></br>

<div class="panel panel-default">

  <div class="panel-heading">
    <h5>You bought the following items on <%= format_date(@basket.transaction_date) %></h5>
    <% if @basket.fishy_total == true %>
      <h5 style="color: red">Grocer detected an anomaly in processing this receipt and is working on resolving it. Until then please check your original receipt to ensure accuracy</h5>
      <% end %>
  </div>

  <div class="panel-body">
    <table id="basketTable" class="table table-borderless table-hover">
      <thead>
        <tr>
          <th>Item</th>
          <th>Unit Price</th>
          <th>Qty</th>
          <th>Weight</th>
          <% if @basket.discount? %>
            <th>Discount?</th>
            <% end %>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        <% @basket.line_items.each do |li| %>
          <% if li.product.real_unit_price_cents != nil %>
            <tr style="color: green"
                data-toggle="popover"
                data-placement="top"
                data-trigger="hover"
                data-content="Often, New Seasons provides no unit pricing or weight for items from the meat/deli/fish counters, so sometimes Grocer will insert a unit price based on past experience. This line item's weight is derived from that inserted price, so just be aware that the total price will match your receipt, but unit price and weight might be a little off.">
          <% else %>
            <tr>
          <% end %>
            <td> <a href='/products/<%=li.product.id%>' style= '<%= "color:green" if li.product.real_unit_price_cents != nil %>'><%= li.product.nickname %></td>
            <td> <%= number_to_currency(li.price) %> </td>
            <td> <%= li.quantity %></td>
            <td> <%= li.formatted_weight %> </td>
            <% if @basket.discount? %>
              <td> <%=  number_to_currency(li.discount) unless li.discount == 0 %></td>
            <% end %>
            <td> <%= number_to_currency(li.total) %> </td>
          </tr>
        <% end %>
        </tbody>
        <tbody>

        <%= render partial: "subtotal_tax", locals: { basket: @basket } unless @basket.tax_cents == 0 %>

        <tr class='rowC2'>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>TOTAL:</strong></td>
          <% if @basket.discount? %>
            <td></td>
          <% end %>
          <td><strong><%= number_to_currency(@basket.total) %></strong></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
