You bought the following items on <%= @basket.date %>
</br></br>

<table class="table">
  <tr>
    <th>Item</th>
    <th>Qty</th>
    <th>Total Price</th>
  </tr>
  <% @basket.line_items.each do |li| %>
    <tr>
      <td> <%= li.product.name %> </td>
      <td> <%= li.quantity.to_i %> </td>
      <td> <%= li.price %> </td>
    </tr>
  <% end %>
    <tr>
      <td>Total:</td>
      <td></td>
      <td><%= @basket.total %></td>




</table>
