<table class="table table-hover">
  <thead>
    <tr>
      <th>From User</th>
      <th>Product Name</th>
      <th>Current Nickname</th>
      <th>Suggested Nickname</th>
      <th>Approve</th>
      <th>Reject</th>
    </tr>
  </thead>
  <tbody id="nick_name_table">
    <% nick_name_requests.each do |n| %>
    <tr>
      <td> <%= n.user.name %> </td>
      <td> <%= n.product.name %> </td>
      <td> <%= n.product.has_nickname? %> </td>
      <td> <%= n.suggestion %> </td>
      <td>
        <%= form_for(n) do |f| %>
          <%= f.hidden_field :status, value: 'approved' %>
          <%= f.fields_for n.product do |p| %>
            <%= p.hidden_field :nickname, value: n.suggestion %>
          <% end %>
          <%= f.submit 'Approve', :class => 'btn btn-primary' %>
        <% end %>
      </td>
      <td>
        <%= form_for(n) do |f| %>
          <%= f.hidden_field :status, value: 'rejected' %>
          <%= f.submit 'Reject', :class => 'btn btn-danger' %>
        <% end %>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>
