<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default devise-bs even">
      <%= render 'application/welcome' %>
    </div>
  </div>
  <div class="col-md-6">
    <%= bootstrap_devise_error_messages! %>
    <div class="panel panel-default devise-bs even">
      <div class="panel-heading">
        <h4><%= t('.sign_up', default: 'Sign up') %></h4>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
    <h4 class="alert alert-success">You may sign up using any email address you have, but this app can only import purchase history information from gmail. If you have New Seasons emails in your gmail inbox, then that is the account to use. To see what that looks like in action, you can also log into a demo account using the email and password provided <%= link_to "here", new_user_session_path %>.</h4>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-primary btn-block' %>
        <% end %>
      </br>
        <div class="form-group text-center">
          <h5> <%= link_to "Already have an account? Click here to go to sign-in page", new_user_session_path %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
