</br></br></br>
<div class="col-md-6 col-md-offset-3 panel panel-default devise-bs">
</br>
  <h4 class="text-center">Log In</h4>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %> <%= t('.remember_me', default: 'Remember me') %>
          <% end %>
        </div>
      <% end %>
      <%= f.submit 'Log in', class: 'btn btn-primary btn-block' %>
    <% end %>
    <h5 class="text-center"> <a class="fake-link" id="toggle_reset_password">Forget password?</a> | <a class="fake-link" id="toggle_resend_confirmation_instructions">Resend confirmation?</a></h5>
    <div id="reset_password">
      <hr />
            <div class="form-group">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
              <%= f.label "Forgot your password? We'll email you a reset link" %>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
            <%= f.submit t('.send_me_reset_password_instructions', default: 'Send me reset password instructions'), class: 'btn btn-notice btn-block' %>
          <% end %>
    </div>
    <div id="resend_confirmation_instructions">
      <hr />
      <div class="form-group">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f| %>
              <%= f.label "Lose your confirmation email? We'll email you a new one" %>
              <%= f.email_field :email, autofocus: true, class: "form-control"  %>
            <%= f.submit value: "Resend confirmation email", class: 'btn btn-notice btn-block' %>
          <% end %>
        </div>
    </div>
    <hr>
    <div style="padding-top: 15px">
      <a href="/users/auth/google_oauth2" class="btn btn-warning btn-block">Log in with Google</a>
    </div>
  <hr>
  <h5 class="text-center"> <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Home", root_path %> </h5>
</div>
</br>
</div>
