<% if @resource.sign_in_count.zero? %>

  <h4 style="text-align: center">Welcome to Grocer</h4>
  <hr>
  <p style="text-align: center">
    To complete your registration and create a password, click <%= link_to "here", edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %>
  </p>
  <hr>
  <p>
    Consider setting up automatic forwarding for your receipts. It's very easy. Walkthrough videos for Gmail, iCloud, Comcast and Outlook email can be found <a href="https://www.my-grocer.com/about" target="blank">here</a>
  </p>

<% else %>

  <p><%= t('.greeting', recipient: @resource.email, default: "Hello #{@resource.email}!") %></p>

  <p><%= t('.instruction', default: 'Someone has requested a link to change your password, and you can do this through the link below.') %></p>

  <p><%= link_to t('.action', default: 'Change my password'), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %></p>

  <p><%= t('.instruction_2', default: "If you didn't request this, please ignore this email.") %></p>
  <p><%= t('.instruction_3', default: "Your password won't change until you access the link above and create a new one.") %></p>

<% end %>
