<table class="table">
  <thead>
    <tr class="fake-link">
      <th><%= sort_line_item_record_by("sort_date", @graph_config, "Date Purchased") %></th>
      <th><%= sort_line_item_record_by("price_cents", @graph_config, "Price") %></th>
      <th><%= sort_line_item_record_by("quantity", @graph_config, "Qty Purchased") %></th>
      <th><%= sort_line_item_record_by("weight", @graph_config) %></th>
      <th><%= sort_line_item_record_by("total_cents", @graph_config, "Total Price") %></th>
    </tr>
  </thead>
  <tbody>
    <% line_items.each do |line_item| %>
      <tr>
        <td> <%= link_to format_date(line_item.basket.date), basket_path(line_item.basket) %> </td>
        <td> <%= number_to_currency(line_item.price) %> </td>
        <td> <%= line_item.quantity %> </td>
        <td> <%= line_item.formatted_weight %> </td>
        <td> <%= number_to_currency(line_item.total) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
