<% if current_user %>
  <% if !@products.empty? %>
    <p> You have purchased the following products: </p>

    <table class="table">
      <tr>
        <th>Product</th>
        <th>Total Purchased</th>
        <th>Highest Price</th>
        <th>Lowest Price</th>
        <th>Most Recently Purchased</th>
      </tr>
      <% @products.each do |product| %>
        <tr>
          <td> <%= link_to product.name, product_path(product) %> </td>
          <td> <%= product.times_bought.to_i %> </td>
          <td> <%= number_to_currency(product.highest_price) %> </td>
          <td> <%= number_to_currency(product.lowest_price) %> </td>
          <td> <%= product.most_recently_purchased.localtime.strftime('%A, %d %b %Y %l:%M %p') %> </td>
        </tr>
      <% end %>
    </table>



  <% else %>
    <p> You currently have no purchase history loaded so there are no products associated with your account.</p>
    <% end %>
  <% end %>
