<% if current_user && !@products.empty? %>

<div class="text-center">
  <%= link_to "By Dollar", most_spent_chart_path, remote: true, class: "btn btn-primary btn-xs"%>
  <%= link_to "By Quantity", most_bought_chart_path, remote: true, class: "btn btn-primary btn-xs" %>
</div>
<div id="chart">
  <%= most_spent %>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= render partial: 'search' %>
    </div>
    <div class="panel-body">
      <div id="products_table" class="panel-body">
        <%= render partial: 'products', locals: { products: @products } %>
      </div>
    </div>
  </div>
<% elsif current_user && @products.empty?%>
  <p> You currently have no products. Load your purchase history to generate a list of your products.</p>
<% end %>
