<% if current_user && !@products.empty? %>

  <div class="panel panel-default">
      <div class="panel-heading">
          <h5>You have purchased the following products</h5>
      </div>
      <div class="panel-body">


  <table class="table table-hover">
    <thead>
      <tr class="fake-link">
        <th><%= sortable("name") %></th>
        <th><%= sortable("times_bought", "Total Purchased") %></th>
        <th><%= sortable("highest_price", "Highest Price") %></th>
        <th>Lowest Price</th>
        <th>Most Recently Purchased</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td> <%= link_to product.name, product_path(product) %> </td>
          <td> <%= product.line_items_sum %> </td>
          <td> <%= number_to_currency(product.highest_price) %> </td>
          <td> <%= number_to_currency(product.lowest_price) %> </td>
          <td> <%= format_date(product.most_recently_purchased(current_user)) %> </td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>
  <% elsif current_user && @products.empty?%>
    <p> You currently have no products. Load your purchase history to generate a list of your products.</p>
  <% end %>

<%= will_paginate @products %>
