<div class="panel panel-default">
    <div class="panel-heading">
        <h5> You've purchased <%= @product.name %> <%= @product.times_bought(@user).to_i %> <% if @product.times_bought(@user) != 1 %> times.<% else %> time.<% end %>
        <% if @product.highest_price == @product.lowest_price %>
           Its price has remained stable at <%= number_to_currency(@product.highest_price) %> </h5>
          <% else %>
          The most you paid for it was <%= number_to_currency(@product.highest_price) %>. The least you paid for it was <%= number_to_currency(@product.lowest_price) %></h5>
          <% end %>
    </div>
    <div class="panel-body">

<table id="productTable" class="tablesorter table">
  <thead>
  <tr class="fake-link">
    <th>Date Purchased</th>
    <th>Price</th>
    <th>Qty Purchased</th>
    <th>Weight</th>
    <th>Total Price for that item</th>
    <th>Price of All Items Bought that Day</th>
  </tr>
</thead>
<tbody>
  <% @product.this_users_line_items(current_user).each do |line_item| %>
    <tr>
      <td> <%= link_to format_date(line_item.basket.date), basket_path(line_item.basket) %> </td>
      <td> <%= number_to_currency(line_item.price) %> </td>
      <td> <%= line_item.quantity %> </td>
      <td> <%= line_item.formatted_weight %> </td>
      <td> <%= number_to_currency(line_item.total) %> </td>
      <td> <%= number_to_currency(line_item.basket.total) %> </td>
    </tr>
  <% end %>
</tbody>
</table>
</div>
</div>
