$('#graph_error_explanation').html("")
var graph_change = '<%= params[:graph_change].to_s %>'
var graph_valid = '<%= @graph_config.valid?.to_s %>'

if (graph_change === 'yes' && graph_valid == 'true' ) {
  $("#index-title").html("Spending: <%= (@graph_config.start_date).localtime.strftime("%b %d, %Y") %> to <%= (@graph_config.end_date).localtime.strftime("%b %d, %Y") %>")
  $("#chart").html("<%= escape_javascript(product_spending(@graph_config)) %>")
  $('#line_items_table').html("<%= escape_javascript render partial: 'line_items', locals: { line_items: @line_items } %>");
  $('#paginator').html('<%= escape_javascript(paginate(@line_items, theme: "twitter-bootstrap-3", :remote => true).to_s) %>');
}
else if (graph_change === 'yes' && graph_valid == 'false') {
  $('#graph_error_explanation').append("<ul> <% @graph_config.errors.full_messages.each do |message| %> <p> <%= message %> </p> <% end %> </ul>")
}
else {
  $('#line_items_table').html("<%= escape_javascript render partial: 'line_items', locals: { line_items: @line_items } %>");
  $('#paginator').html('<%= escape_javascript(paginate(@line_items, theme: "twitter-bootstrap-3", :remote => true).to_s) %>');
};
