<h4> <%= @product.name %> </h4>

<p> You have bought  <%= @product.name %> <%= @product.times_bought.to_i %> <% if @product.times_bought != 1 %> times <% else %> time <% end %></p>

<% if @product.highest_price == @product.lowest_price %>
  <p> Price has remained stable at <%= number_to_currency(@product.highest_price) %> </p>
<% else %>
  <p>The most you paid for this item was <%= number_to_currency(@product.highest_price) %></p>
  <p>The least you paid for this item was <%= number_to_currency(@product.lowest_price) %></p>
<% end %>

<h4> Purchase History </h4>
<table id="productTable" class="tablesorter table">
  <thead>
  <tr class="fake-link">
    <th>Date Purchased</th>
    <th>Price</th>
    <th>Qty Purchased</th>
    <th>Price of All Items Bought that Day</th>
  </tr>
</thead>
<tbody>
  <% @product.line_items.each do |line_item| %>
    <tr>
      <td> <%= link_to format_date(line_item.basket.date), basket_path(line_item.basket) %> </td>
      <td> <%= number_to_currency(line_item.price) %> </td>
      <td> <%= line_item.quantity % 1 == 0 ? line_item.quantity.to_i : line_item.quantity  %> </td>
      <td> <%= number_to_currency(line_item.basket.total) %> </td>
    </tr>
  <% end %>
</tbody>
</table>
