<!DOCTYPE html>
<html>
  <head>
    <title>Grocer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="container">
      <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

    </br></br>
      <div class="page-header">
        <h1 class="text-center">GROCER <small> purchase tracking for New Seasons Market shoppers</small></h1>
      </div>
      <%= render 'layouts/flash' %>
      <% unless controller_name == "registrations" ||
         controller_name == "sessions"  || action_name == "welcome" %>
      <%= render 'layouts/navbar' %>
      <% end %>
      <%= yield %>
    </br></br>

    <div id="wrap" class="text-center">
  <div id="main" class="container clear-top">
    <p style="font-size:0.9em">
            &copy; 2017 Developed by <a href="https://linkedin.com/in/daniel-brad ">Daniel Brad</a> |
            <%= link_to 'Privacy Policy', privacy_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
</p>
  </div>
</div>
