<!DOCTYPE html>
<html>
  <head>
    <title>Grocer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="container">
      <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

    </br></br>

        <center>
          <%= image_tag "grocer_title.jpg", class:"fixed-ratio-resize" %>
        </center>

      <%= render 'layouts/flash' %>
      <% unless (controller_name == "registrations") ||
         controller_name == "sessions"  || action_name == "welcome" %>
      <%= render 'layouts/navbar' %>
      <% end %>
      <%= yield %>
    </br></br>

    </div>
  </br></br>

  <div class="footer text-center">
    <p style="font-size:0.8em">
      &copy; 2017 Developed by <%= mail_to("danieltbrad@gmail.com", "Daniel Brad") %> |
      <%=link_to "GitHub", "https://github.com/dtbrad/grocer",  target: :_blank %> |
      <%= link_to 'Terms of Service', tos_path %> |
      <%= link_to 'Privacy Policy', privacy_path %>
    </p>
  </div>
  </body>
</html>
