<!DOCTYPE html>
<html>
  <head>
    <title>MailApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">New Seasons Purchase History</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><%= link_to "purchase history", baskets_path %></li>
              <li><%= link_to "products", products_path %></li>
              <li><%= link_to "import your purchase history", new_basket_path %></li>
      </ul>
    </div>

</nav>
<%= render 'auth' %>
      <%= yield %>
    </div>
  </body>
</html>
