<!DOCTYPE html>
<html>
  <head>
    <title>New Seasons Purchase Tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    				<span class="sr-only">Toggle navigation</span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<%= link_to "Grocer", welcome_path, class: "navbar-brand" %>
    		</div>
        <div class="collapse navbar-collapse" ng-class="{collapse: isCollapsed}" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% if current_user %>
              <li><%= link_to "Purchase history", baskets_path %></li>
              <li><%= link_to "Products", products_path %></li>
              <li><%= link_to "Shopping lists", listmaker_path %></li>
              <li><a>Signed in as: <%= current_user.name %></a></li>
              <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
              <% if current_user.name != 'Sample User' %>
                <li><%= link_to "Import your purchase history", new_basket_path %></li>
                <% if !current_user.baskets.empty?%>
                  <li><%= link_to "Delete your entire purchase history", remove_path, data: { confirm: "Are you sure?"} %></li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <% unless flash.empty? %>
	      <script type="text/javascript">
	         <% flash.each do |f| %>
	           <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
	     	   toastr['<%= type %>']('<%= f[1] %>');
	          <% end %>
	     </script>
	    <% end %>

      <%= yield %>
      <div class="align-center"><%= render 'auth' %></div>
    </div>
  </body>
</html>
